Redirect 301 /26 /ghcjs-is-amazing.html
Redirect 301 /25 /compiling-cmus.html
Redirect 301 /24 /implement-tictactoe-in-haskell.html
Redirect 301 /23 /mit-admissions-blogs.html
Redirect 301 /22 /not-everything-is-a-function-in-haskell.html
