	<div id="sidebar">
		<ul id="sidenav">
			<li id="archives" class="sidenav-items"><a href="/archives.html">Archives</a></li>
			<li id="about" class="sidenav-items"><a href="/about.html">About</a></li>
			<li id="contact" class="sidenav-items"><a href="/contact.html">Contact</a></li>
			<li id="licensing" class="sidenav-items"><a href="/licensing.html">Licensing</a></li>
			<li id="tags">Tags</li>
				<ul id="tag-list">
				$for(tags)$
				<li id="tag-$body$"><a href="$url$">$body$</a></li>
				$endfor$
				</ul>
		</ul>
	</div>
