<div id="content-slider">
	$for(posts)$
	<div class="content-slides" id="slide{{ forloop.counter }}" style="background-image:url('{{ MEDIA_URL }}{{ post.cover_image }}')">
		<img src="{{ MEDIA_URL }}{{  post.cover_image }}" alt="image"/>
		<div class="slide-blurb">
			<h4>
				<a href="$url$">$title$</a>
			</h4>
			<p>$body$</p>
		</div>
		<div id="image-attribution">Attribution: This is an image!</div>
	</div>
	$endfor$
	<div class="slider-button" id="slider-button-back">&lt;</div>
	<div class="slider-button" id="slider-button-forward">&gt;</div>
</div>
