<!DOCTYPE html>
<meta charset="UTF-8">

<html>
$partial("templates/header.html")$
<body onload="prettyPrint()">
	$partial("templates/pageHeading.html")$
	<div id="content-slider">
		$for(posts)$
		<div class="content-slides" id="slide$listIndex$" style="background-image:url('/images/$cover-image$')">
			<div class="slide-blurb">
				<h4>
					<a href="$url$">$title$</a>
				</h4>
				$if(subhead)$ <p>$subhead$</p> $else$ $body$ $endif$
			</div>
			<div id="image-attribution">Image Attribution:$if(attribution)$ $attribution$ $else$ No attribution found! $endif$</div>
		</div>
		$endfor$
		<div class="slider-button" id="slider-button-back">&lt;</div>
		<div class="slider-button" id="slider-button-forward">&gt;</div>
	</div>
	$partial("templates/sidebar.html")$
	<div id="main-content">
		$body$
	</div>
	$partial("templates/footer.html")$
</body>
</html>
